html,body{
	background-color: #8e44ad;
}


#searchTerm {
/*    background-image: url('https://cdn.pixabay.com/photo/2017/01/13/01/22/magnifying-glass-1976105_960_720.png');*/ /* Add a search icon to input 
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    /*width: 100%;  Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 30px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
	width: 750px;
	margin:-45px;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
}
/* stop the glowing blue shadow */
.add-on:focus {
 /*box-shadow:none;*/
 /*-webkit-box-shadow:none; */
 border: 1px solid #ddd;
}
.add-on{
	width:30%;
	margin-right: 148px;
	float: right;
}
.search{
	background-color: #ecf0f1;
}
.search:hover{
	background-color: #bdc3c7;
}


.logo{
	margin-top: 5px;
	margin-bottom: 5px;
}
td.name{
	text-align: center;
}
table{
	background-color: #ecf0f1;
	text-align: left;
}
.row{
	margin-left: 150px;
}
.btn-primary{
	margin:40px;
	margin-left: 50px
	margin-bottom: 100px;

}
a.all{
	background-color: #34495e;
	border-color: #34495e;
}
a.all:hover{
	background-color: #2c3e50;
	border-color: #2c3e50;
	text-decoration: none;
}
a.online{
	background-color: #2ecc71;
	border-color: #2ecc71;

}
a.online:hover{
	background-color: #27ae60;
	border-color: #27ae60;
	text-decoration: none;
}
a.offline{
	background-color: #e74c3c;
	border-color: #e74c3c;
}
a.offline:hover{
	background-color: #c0392b;
	border-color: #c0392b;
	text-decoration: none;
}

a.btn-lg.btn-default.ng-binding {
	background-color: #B0CF00;
	color: #ffffff;
	margin: 5px;

}

a.btn-lg.btn-default:hover{
	background-color: #003B2B;
}
.fa.fa-github{
	font-size:60px;
	color:#1abc9c;
}

.fa.fa-linkedin{
	font-size:60px;
	margin-bottom: 20px;
	color:#1abc9c;
}

.fa.fa-github:hover{
	color: #333;
}

.fa.fa-linkedin:hover{
	/*color: #ffffff;*/
	color: #0077B5 ; 
}
#folowerInfo{
	margin-left: 150px;
	margin-right: 150px;
}