<!DOCTYPE html>
<html ng-app="twitchApp" ng-controller="twitchCtrl">
<head>
	<meta charset="UTF-8" />
	<title>Twitch App</title>

	<!-- JS Scripts -->
	<script 
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
	<script src="app.js"></script>


	<!-- CSS Links-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="app.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body class="text-center">
<div class="container">
  <div id="header">
   <h1>{{appInfo.heading}}</h1>
   <!-- <img class="logo" height="300px" ng-src="{{appInfo.twitchLogo}}"> -->
    <div>
		<a class="btn-lg" 
		ng-href="{{appInfo.subHeading2.githubprofile}}" 
		target="blank" title="Yacub93"><i class="fa fa-github"></i></a>

		<a class="btn-lg" 
		ng-href="{{appInfo.subHeading2.linkedinprofile}}" 
		target="blank" title="Yacub Ali"><i class="fa fa-linkedin"></i></a>
	</div>
      <h3 id="status">Status: {{status}}</h3>
  
 </div>
  <!-- <div class="row"> -->

<!--       <div class="row" >
        <a href="#" class="btn-lg btn-primary all">All Channels</a>

        <a href="#" class="btn-lg btn-primary online">Online Channels</a>

        <a href="#" class="btn-lg btn-primary offline">Offline Channels</a>
      </div> -->

<!-- 		 	 <div><input type="text" id="searchTerm" ng-model="formData.searchTerm" placeholder="Search...">
  			 <button  class="btn btn-primary" ng-click="getStreamer()"><i class="fa fa-search"></i></button></div> -->

    <div class="input-group add-on">
      <input class="form-control" ng-model="formData.searchTerm" placeholder="Search..." type="text" autofocus="">
      <div class="input-group-btn">
        <button class="btn btn-default search" ng-click="getStreamer()"><i class="fa fa-search"></i></button>
      </div>
    </div>

  <!-- </div> -->
  <div id="folowerInfo">
    	<table class="table" >
		    <thead>
		 	<tr>
		 	 <th><img class="logo" height="100px" ng-src="{{appInfo.twitchLogo}}"></th>



		      </tr>
		    </thead>
		    <tbody ng-repeat="result in results">
		      <tr>
		        <td>
		        	<img height="100px" ng-src="{{result.logo}}"></td>
		        <td class="name">
		        <a ng-href="{{result.channel}}" target='_blank'>{{result.displayName}}</a> </td>
		        <td><p>{{result.status}}</p></td>
		        <td>{{result.streaming}}</td>
		      </tr>
		    </tbody>
		</table>
  </div>
</div>
</div>	
</body>
</html>